<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <style type="text/css">
            {% block stylesheets %}
                {% include "css/main.css" %}
            {% endblock %}
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon/favicon_16.ico') }}" sizes="16x16">
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon/favicon_32.ico') }}" sizes="32x32">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>